@import "boilerplate.css";

@import "dojox/Toaster/Toaster.css";
@import "dojox/ellipsis.css";

html, body {
    color: #22242C;
    height: 100%;
    width: 100%;
}

input:focus, div, span {
    /*outline: thin dotted;*/
}

section#loader {
	padding:0;
	margin:0;
	position:absolute;
	top:0; left:0;
	width:100%;
    height:100%;
	background:#ededed;
	z-index:1001;
	vertical-align:middle;
}
section#loader #loaderInner {
	position:relative;
	left:0;
	top:0;
    background: url('/img/loader.gif') no-repeat center center;
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    background: #304E69 url('images/gradient-dark-nav.png') repeat-x scroll bottom left;
    height: 3em;
    width: 100%;
}

body.claro header.dijitContentPane {
    padding: 0;
}

header .wrapper {
    margin: 0 auto;
    width: 1080px;
    position: relative;
}

header .links {
    position: absolute;
    right: 0px;
    top: 0px;
    background-position: top right;
    padding-right: 25px;
    color: white;
}

header .links,
header .links ul,
header .links ul li {
    height: 27px;
    background-image: url(images/nav-sub.png);
    background-repeat: no-repeat;
}

header .links ul {
    float: right;
    display: block;
    zoom: 1;
    margin: 0;
    padding-left: 25px;
    background-position: 0 -50px;
    line-height: 27px;
}

header .links ul li {
    float: right;
    display: -moz-inline-stack;
    display: inline-block;
    overflow: hidden;
    float: left;
    background-color: #dcdcdc;
    background-position: 0 -100px;
    padding: 0 10px 0 12px;
}

header .links ul li:first-child {
    background-image: none;
    padding: 0 8px 0 10px;
}

header .links ul li span,
header .links ul li a {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    padding: 6px;
    font-size: 11px;
    color: #02365c;
    text-decoration: none;
    font-weight: normal;
}

#logo {
    font-size: 2em;
    line-height: 1.5em;
    font-family: 'Marck Script', cursive;
}

#logo a {
    color: #fff;
}

#logo a, a:hover {
    text-decoration: none;
}

#accordion {
    width: 280px;
    margin: 0 1em 0 0;
    top: 58px;
}

#accordion .dijitAccordionContainer .dijitAccordionContainer-child {
    overflow: hidden;
}

#mainWrapper {
    position: absolute;
    width: 1080px;
    margin: 0 auto;
    height: 100%;
    top: 0px;
    bottom:0;
    left:0px;
    right:0;
}

#main {
    position:absolute;
    top: 0px;
    bottom:0;
    left:300px;
    right:0;
    width: 780px;
}

#topTabs {
    left: 300px;
}

.claro p .dijitComboBox .dijitArrowButtonInner {
    padding: 3px 2px;
    width: 17px;
}

.dijitTextBox.expenseAmount {
    width: 76px;
}

.dijitComboBox.category {
    width: 168px;
    margin: 0 4px 0 0;
}

.dijitDateTextBox.date {
    width: 168px;
}

/****************** dgrid style changes ***********************/

body.claro .dgrid {
    height: 99%;
    border: 0;
    border: none;
}

.dgrid .dgrid-header th,
.dgrid .dgrid-cell-padding {
    padding: 0px;
    margin: 0px;
}

.dgrid .dgrid-cell {
    border: none;
    outline: none;
    line-height: 26px;
}

.dgrid .dgrid-header .dgrid-cell {
    line-height: 20px;
    height: 24px;
    padding-top: 3px;
}

body .dgrid .dgrid-cell .dijit {
    line-height: 12px;
    margin: 2px 3px 4px 0px;
}

body .dgrid .dgrid-header dgrid-header-scroll,
body .dgrid .dgrid-footer,
body .dgrid .dgrid-header-scroll{
    background: #fff;
}

body .dgrid .dgrid-scroller {
    overflow-y: auto;
}

.dgrid-row-odd {
    background: #efefef;
}

/* width 745px */

.dgrid th.column-0,
.dgrid .column-0 {
    width: 150px;
    padding: 0px 0px 0px 6px;
}

.dgrid .column-0 .dijitTextBox {
    width: 140px;
}

.dgrid .column-1 {
    width: 170px;
}

.dgrid .column-1 .dijitTextBox {
    width: 160px;
}

.dgrid .column-2 {
    width: 90px;
}

.dgrid .column-2 .dijitTextBox {
    width: 84px;
}

.dgrid .column-3 {
    width: 220px;
}

.dgrid .column-3 .dijitTextArea {
    width: 210px;
    margin: 3px 0;
}

.dgrid .column-4 {
    width: 100px;
    text-align: right;
}

.dgrid .column-4 .edit {
    
}

.dgrid .column-4 .dijitButton {
    margin: 0;
    font-size: 10px;
    visibility: hidden;
}

.dgrid .column-4 .dijitButton .dijitButtonNode {
    padding: 1px 4px 3px;
}

.dgrid .dgrid-selected .column-4 .dijitButton,
.dgrid .dgrid-row:hover .column-4 .dijitButton {
    visibility: visible;
}

/*****************************************/

.expense-add-form label {
    font-size: 0.9em;
}

.expense-add-form table {
    margin: 0 0 0.8em 0;
}

.expense-add-form table thead th {
    line-height: 1.5em;
}

.expense-add-form .today {
    margin: 0 4px;
}

.expense-add-form .buttons {
    text-align: right;
    margin: 0.5em 0;
}

section#login-box-container {
	width: 530px;
    position: absolute;
    left: 50%;
    margin-left: -265px;
    margin-top: -130px;
    height: 230px;
    top: 50%;
}

section#signup-box-container {
	width: 530px;
    position: absolute;
    left: 50%;
    margin-left: -265px;
    margin-top: -139px;
    height: 278px;
    top: 50%;
}

.box {
    background-color: #fff;
    border-color: #b9b9b9;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 11px;
}

.box header {
    position: relative;
    border-radius: 5px 5px 0 0;
}

.box header #logo {
    padding: 0 1em;
}

.box .content {
    padding: 17px 15px 13px 15px;
}

.box .column {
    float: left;
    width: 235px;
}

.box .column.last {
    padding-left: 15px;
    width: 230px;
}

.box .separator {
    padding: 0 15px 0 0;
    border-right: 1px solid;
    box-shadow: 1px 0 0 #eee;
    border-color: #b9b9b9;
}

.box input.input[type="text"], 
.box input.input[type="password"], 
.box input.input[type="file"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin: 0.5em 0 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.box input { 
    background:white; 
    border-color: #ccc;
    color: #22242C;
}
.box input[type=radio], 
.box input[type=checkbox] { 
    position:relative; 
    top:0; 
    margin-right:3px; 
    margin-bottom:7px; 
}
.box input.input[type=text], 
.box input.input[type=password], 
.box input[type=file], 
.box textarea, 
.box select { 
    border-width:1px; 
    border-style:solid; 
    -moz-box-shadow:none; 
    -webkit-box-shadow:none; 
    -o-box-shadow:none; 
    box-shadow:none; 
}

.box input.input[type=text]:focus, 
.box input.input[type=password]:focus, 
.box textarea:focus, 
.box select:focus { 
    -moz-box-shadow:rgba(0,0,0,0.3) 0 0 10px; 
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 0 10px; 
    -o-box-shadow:rgba(0,0,0,0.3) 0 0 10px; 
    box-shadow:rgba(0,0,0,0.3) 0 0 10px; 
}

.box .dijitTextBox  {
    height: 26px;
    margin: 0.5em 0 12px;
    width: 280px;
}

.box .dijitInputField input[type="text"], 
.box .dijitInputField input[type="password"] {
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    border: none
}

.box .dijitTextBoxError .dijitValidationContainer {
    line-height: 22px;
}

.box label { font-weight:bold; }

.box .button {
	-moz-box-shadow:inset 0px 1px 0px 0px #575c70;
	-webkit-box-shadow:inset 0px 1px 0px 0px #575c70;
	box-shadow:inset 0px 1px 0px 0px #575c70;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #203446), color-stop(1, #335470) );
	background:-moz-linear-gradient( center top, #203446 5%, #335470 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#203446', endColorstr='#335470');
	background-color:#203446;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4d5166;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 18px;
	text-decoration:none;
	text-shadow:1px 1px 0px #203446;
}.box .button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #335470), color-stop(1, #203446) );
	background:-moz-linear-gradient( center top, #335470 5%, #203446 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#335470', endColorstr='#203446');
	background-color:#335470;
}.box .button:active {
	position:relative;
	top:1px;
}